.depoimentos-bg {
  background-color: var(--branco-puro);
}

.depoimentos-bg .titulo-topo {
  display: block;
  text-align: center;
  margin-bottom: 32px;
  font-weight: 600;
}

.depoimentos-bg h2 {
  text-align: center;
  margin-bottom: 32px;
}

.depoimentos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.depoimentos-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--cinza-claro);
  border-radius: 16px;
  box-shadow: 8px 0 10px var(--cinza-claro);
}

.depoimentos-card:nth-child(2) {
  border: 3px solid #64748b60;
}

.depoimentos-card blockquote{
  line-height: 1.6;
  position: relative;
  max-width: 300px;
  margin-bottom: 32px;
}

.depoimentos-card blockquote::before {
  content: '“';
  display: block;
  font-size: 64px;
  color: var(--cinza-medio);
  width: max-content;
  height: 60px;
  margin-bottom: 32px;

}

.depoimentos-estrela-avaliacao {
  display: flex;
  margin-bottom: 32px;
}

.depoimento-personagem {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.depoimento-personagem img {
  border-radius: 50%;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.depoimento-personagem span {
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}